/*Estilos de letra, colores y alineados*/
.navbarra ul  { /*barra de navegación*/
    display: flex;
    flex-flow: row;
    justify-content: center;
    list-style-type: none;
    font-size: 20px; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: black;
    border-width: initial;
}
nav ul li a    { /*barra de navegación*/
    color: goldenrod;
    text-decoration: none;
    padding: 13px;
    background: darkslategray;
    border-color: red;
    border-width: initial;
    border: solid 2px black;
}
body    {
    background-color:honeydew;
}
p   {
    color: rgb(19, 88, 116);
    font-family: "Lato", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: center;
    line-height: normal;
    letter-spacing: 1px;
    margin-left: 10%;
    margin-right: 10%;
    }
label   {
    color: rgb(224, 224, 224);
    font-family: "Lato", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: center;
    line-height: normal;
    letter-spacing: 1px;
    margin-left: 10%;
    margin-right: 10%;
    }
.formflex   {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: goldenrod;
    margin: auto;
    width: 400px;
    padding: 10px;
}
.white__color--letra {
    color: white;
    font-family: "Lato", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: center;
    line-height: normal;
    letter-spacing: 1px;
}
.disc   {
    color: rgb(70, 71, 10);
    list-style-type: disc;
    }
a   {
    color: rgb(70, 71, 10);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    }
.dark-blue {
    color: rgb(2, 2, 20);
    background-color: goldenrod;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
.brightgold {
    color:rgb(219, 190, 24);
    }
.gold   {
    color: goldenrod;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
.goldenrodback  {
    background-color: goldenrod;
    margin-right: 10%;
    margin-left: 10%;
}  
h2  {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    margin-right: 10%;
    margin-left: 10%;
}
.titulosplanes    { /*letra titulos planes de socios*/
    font-size: 25px;
    font-weight: 900;
    text-align: left;
    text-transform: uppercase;
    color: goldenrod;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.itemsplanes { /*letra items planes de socios*/
    font-size: 15px;
    font-weight: 900;
    text-align: justify;
    text-transform: uppercase;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3  {
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    margin-right: 10%;
    margin-left: 10%
}
.italywhite  {
    color: white;
    font-style: italic;
    text-align: center;
}
#table  {
    margin:auto;
}
img {
    display:block;
    margin:auto;
}
/* Parte de rellenos de fondo*/
.backgray {
    background-color: gray;
    overflow: hidden;
    height: auto;
    padding: initial;
}
.backhoney   {
    background-color: honeydew;
    height: auto;
    overflow: hidden;
    padding: initial;
}
.darkgrey   {
    background-color: rgb(59, 58, 58);
    height: auto;
    overflow: hidden;
    padding: initial;
}
.verdeoscuro    {
    background-color: darkslategray;
    height: auto;
    overflow: hidden;
    padding: initial;
}
.greenapple  {
    background-color: rgb(125, 233, 130);
    height: auto;
    overflow: hidden;
    padding: initial;
    border: solid 1.5px white;
}
.footers    {
        overflow: hidden;
        height: auto;
        width: auto;
        border: solid 1.5px black;
        padding: 20px;
        background-image: linear-gradient(goldenrod, darkslategrey);
}
#socios {
    display: flex;
    flex-flow: row nowrap;
    background-color: darkslategray;
    justify-content: space-evenly;
    border: solid 1px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-items: center;
    align-items: center;
    padding: 25px;
}
#socios h3  {
    color: goldenrod;
}
article p   {
    color: goldenrod;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: space-between;
}
article ul	{
    color: white;
}
/*intento armatucaja con grid*/
.grid-container      {
    display: grid;
    grid-template-areas: 
    "producto1 producto2 producto3"
    "producto4 producto5 producto6";
    justify-items: auto;
    grid-template-rows: 2fr 2fr;
    grid-template-columns: 2fr 2fr 2fr;
    padding: 15px;
    background-color: darkslategray;
}
.grid-item  {
    padding: 10px;
    font-size: 30px;
    text-align: center;
}
.grid-socios    {
    display: grid;
    grid-template-areas: 
    "titulo1 titulo2 titulo3"
    "item item item"
    "item item item"
    "item item item"
    "item item item"
    "     item item"
    "          item";
    justify-items: auto;
    grid-template-rows: 0.8fr 0.25fr 0.25fr 0.25fr 0.25fr;
    grid-template-columns: 2fr 2fr 2fr;
    border: 1px solid black;
    padding: 15px;
    background-color: darkslategray;
}
.grid-socios-item  {
    padding: 10px;
    font-size: 20px;
    text-align: center;
}
/*transformaciones*/
div img:hover    {
    transform: scale(2,2);
    transition: all 1.5s ease-in-out;
}
nav ul li a:hover {
    background-color:honeydew;
}
h2:hover    {
    transform: scale(1.5,1.5);
    background-color: black;
    transition: all 1.5s ease-in-out;
}
.object {
    position: absolute;
    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 2s ease-in-out; /** Firefox **/
    -o-transition: all 2s ease-in-out; /** Opera **/
}
/*responsive para celulares*/
@media screen and (max-width: 800px) {
    img {
        max-width: 130px;
        max-height: 130px;
    }
    .imagencel {
          display: none;
        }
    nav ul  { /*barra de navegación*/
        display: block;
        block-size: auto;
        width: 80%;
        justify-items: left;
        list-style-type: none;
        font-size: 15px; 
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        border: black;
        border-width: initial;
    }
    nav ul li a    { /*barra de navegación*/
        display: flex;
        justify-items: left;
        color: goldenrod;
        text-decoration: none;
        background: darkslategray;
        border-color: red;
        border-width: initial;
        border: solid 2px black;
    }
    .grid-container      {
        display: flex;
        flex-direction: column;
    }
    #socios {
        display: flex;
        flex-flow: row nowrap;
        background-color: darkslategray;
        justify-content: space-evenly;
        border: solid 1px black;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        justify-items: center;
        align-items: center;
        padding: 15px;
    }
    #socios h3  {
        font-size: 10px;
        color: goldenrod;
    }
    article p   {
        color: goldenrod;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        justify-content: space-between;
}
}